body {
	margin-top: 200px;
  background-color: #61122f;
  height: 100%;
  background-image: url("../back.jpg");
  background-size: cover;
}
.form-group{

	display: flex;
	justify-content: center;
	text-align: center;
}
.form-control{
	width: 496px;
	margin-right: 10px;
}
.text_area_container{
	text-align: center;
	margin:auto;
}
div > p {
	display: none;
	text-align: center;
	background: #FFFFFF;
	padding: 10px;

}
