body {
	margin-top: 200px;
  background-color: #61122f;
  height: 100%;
  background-image: url("../back.jpg");
  background-size: cover;
}
.form-group{
	height: 100%;
	display: flex;
	justify-content: center;
	text-align: center;
}
.form-control{
	width: 496px;
	margin-right: 10px;
}
#text_area_container{
	margin-top: 50px;
	height: 100%;
	justify-content: center;
	text-align: center;
	display: none;
}
#output_text_area{
	text-align: center;
}
